.left-container {
  padding-left: 0px;
  padding-right: 0px;
  min-height: 600px;
}

.right-container {
  border-top: solid 3px #bfbfbf;
}

footer {
  line-height: 24px;
}
@media only screen and (min-width: 600px) {
  .right-container {
    float: right;
  }
}
